# Migrations scripts
/migrations

# virtual Env
/venv
/p2venv

# Database file
bucketlist.sqlite
/bucketlist_api/bucktelist.sqlite

#python cache
/__pycache__

/bucketlist_api/__pycache__
/bucketlist_api/api.pyc
/bucketlist_api/config.pyc
/bucketlist_api/custom_error.pyc
/bucketlist_api/models.pyc
/bucketlist_api/__init__.pyc

/tests/__pycache__
/tests/test_api.pyc
/tests/helpers.py
/tests/test_models.pyc
